@import "tailwindcss";

/* customize break points use theme key word */
@theme {

    /* ---------------------------------- customize breakpoints --------------------------------------- */

    /* default name customize */
    --breakpoint-sm: 700px;
    --breakpoint-md: 900px;
    --breakpoint-lg: 1200px;

    /* other name and value customize (called extended) */
    --breakpoint-big: 1600px;


    /* -------------------------------- customize padding, margin, height, width, size and spacing syntax ---------------------- */
    --padding-10: 100px;
    --padding-c-50: 50px;
    --margin-10: 200px;
    --height-10: 200px;
    --width-10: 200px;
    --size-10: 100px
}

/*TODO:  directives  (we used css property)*/
/* @layer base { */

/*?  we will define entire project of same h1 tag */
/* h1 {
        font-size: 50px;
    } */

/*?  we will define entire project of same h1 tag */
/* h2 {
        font-size: 30px;
    } */

/*?  we will define entire project of same h1 tag */
/* h3 {
        font-size: 20px;
    } */

/*?  we will define entire project of same button tag */
/* button {
        border: 1px solid black;
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #e0e0e0;
        }

    } */
/* } */


/*TODO:  directives (use tailwind css classes)*/
/* @layer base {
    h1 {
        @apply text-9xl font-bold;
    }

    h2 {
        @apply text-5xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }

    button {
        @apply border border-black p-2 bg-gray-200 rounded cursor-pointer transition-all duration-300 ease-in-out;

        &:hover {
            @apply bg-gray-300;
        }
    }
} */


/*TODO: creating custom class */
@layer components {
    .custom-btn {
        @apply bg-blue-500 text-4xl text-white p-4 m-4 rounded cursor-pointer hover:bg-blue-800 transition-all duration-1000 ease-in-out;
    }

    .custom-heading {
        @apply text-5xl font-bold text-white mt-10 bg-amber-700 p-4;
    }
}


/* TODO: button like bootstraps */
@layer components {
    .btn {
        @apply text-white py-2 px-4 rounded cursor-pointer;
    }

    .btn-primary {
        @apply bg-blue-500 hover:bg-blue-700;
    }

    .btn-secondary {
        @apply bg-gray-500 hover:bg-gray-700;
    }

    .btn-success {
        @apply bg-green-500 hover:bg-green-700;
    }

    .btn-danger {
        @apply bg-red-500 hover:bg-red-700;
    }

    .btn-warning {
        @apply bg-yellow-500 hover:bg-yellow-700;
    }

    .btn-info {
        @apply bg-cyan-500 hover:bg-cyan-700;
    }

    .btn-light {
        @apply bg-gray-200 text-black hover:bg-gray-300;
    }

    .btn-dark {
        @apply bg-gray-800 hover:bg-gray-900;
    }
}